._container4 {
    background: #F6F6F3;
    padding-top: 35px;
}
.now-pos {
    height: 40px;
    background: #fff;
    border-bottom: 1px #f6f6f3 solid;
    line-height: 40px;
}
.now-pos {
    a {
        padding: 0 6px;
        height: 22px;
        line-height: 22px;
        font-weight: bold;
    }
}
.lb_menu {
    background: #FFFFFF;
    padding: 0 20px;
}
.lb_menu_1 {
    height: 20px;
    border-bottom: 1px #f6f6f3 solid;
    padding: 20px 0;
    position: relative;
}
.lb_menu_1 {
    .lb_menu_1_title {
        color: #00c8ff;
        font-weight: bold;
        float: left;
        margin-right: 18px;
        width: 50px;
    }
    .lb_menu_1_cnt {
        width: 940px;
        height: 20px;
        float: left;
        overflow: hidden;
        .a_wrap{
            overflow: hidden;
            a {
                color: #6c6c6c;
                display: block;
                width: 90px;
                height: 20px;
                float: left;
                text-align: center;
                margin-bottom: 15px;
            }
        }
    }
    .showOrHide1 {
        float: right;
        cursor: pointer;
    }
}
.lb_menu_2 {
    height: 84px;
    padding: 20px 0;
    border-bottom: 1px #e3e3e3 dotted;
    .lb_menu_2_title {
        color: #00c8ff;
        font-weight: bold;
        float: left;
        margin-right: 18px;
        width: 50px;
    }
    .lb_menu_2_cnt {
        width: 940px;
        height: 84px;
        float: left;
        overflow: hidden;
        a {
            color: #6c6c6c;
            display: block;
            width: 90px;
            height: 20px;
            float: left;
            text-align: center;
            margin-bottom: 15px;
        }
    }
    .showOrHide2 {
        float: right;
        cursor: pointer;
    }
}
.lb_menu_3 {
    height: 54px;
    padding: 20px 0;
    border-bottom: 1px #e3e3e3 dotted;
    .lb_menu_3_title {
        color: #00c8ff;
        font-weight: bold;
        float: left;
        margin-right: 18px;
        width: 50px;
    }
    .lb_menu_3_cnt {
        width: 940px;
        height: 54px;
        float: left;
        overflow: hidden;
        a {
            color: #6c6c6c;
            display: block;
            width: 90px;
            height: 20px;
            float: left;
            text-align: center;
            margin-bottom: 15px;
        }
    }
    .showOrHide3 {
        float: right;
        cursor: pointer;
    }
}
.lb_menu_4 {
    height: 20px;
    padding: 20px 0;
    border-bottom: 1px #e3e3e3 dotted;
    .lb_menu_4_title {
        color: #00c8ff;
        font-weight: bold;
        float: left;
        margin-right: 18px;
        width: 50px;
    }
    .lb_menu_4_cnt {
        width: 940px;
        height: 20px;
        float: left;
        overflow: hidden;
        a {
            color: #6c6c6c;
            display: block;
            width: 90px;
            height: 20px;
            float: left;
            text-align: center;
        }
    }
}
.pb_subnav {
    height: 40px;
    background: #6C6C6C;
    margin-top: 20px;
    a {
        display: block;
        float: left;
        height: 40px;
        width: 115px;
        text-align: center;
        line-height: 40px;
        color: #FFFFFF;
        
    }
    .pageCount {
        height: 40px;
        float: right;
        color: #FFFFFF;
        line-height: 40px;
        b {
            color: red;
        }
        span {
            color: red;
        }
        em {
            padding: 0 8px;
        }
        i {
            padding: 0 10px;
            cursor: pointer;
        }
    }
}
.goodsList-ul {
    width: 1120px;
    margin-left: -20px;
    padding: 20px 0 ;
    overflow: hidden;
    li {
        float: left;
        width: 260px;
        height: 360px;
        margin: 20px 0 0 20px;
        background: #fff;
        .goods_price {
            width: 240px;
            height: 89px;
            padding: 11px 10px 0;
            position: relative;
            .goodsName {
                width: 240px;
                height: 42px;
                display: block;
                line-height: 20px;
                color: #6c6c6c;
            }
            .nowPriceAndBuy {
                i {
                    color: red;
                }
                span {
                    font-size: 26px;
                    color: #ff643c;
                    font-family: Arial;
                }
                del {
                    font-size: 14px;
                    color: rgb(196, 196, 196);
                    margin-left: 6px;
                }
                .addTocart {
                    width: 90px;
                    height: 26px;
                    display: block;
                    text-align: center;
                    line-height: 26px;
                    color: #fff;
                    float: right;
                    background: red;   
                }
            }
        }
    }
}